form{
    background-image: url(login-form.jpg);
    height:800px;
    background-repeat: no-repeat;
    background-size:cover ;
    
}

.form{
    /* height:90%; */
    /* width:100%; */
    /* border-radius:60px; */
    background-color:#ffffff13;
    backdrop-filter: blur(5px);
    transition:0.8s;
}


.form h1{
    font-weight:400;
    letter-spacing:1px;

}

.input{
    width:90%;
    /* height:60px; */
    /* border:2px solid goldenrod; */
    background-color:#ffffff00;
    backdrop-filter: blur(10px);
    color:#fff;
}
.form input{
    height:60px;
    width:90%;
    /* background-color: #1dd1a1; */
    border:none;
    background:transparent;
    outline:none;
}
.form .input i{
    padding-right:5px;
    padding-left:10px;
}
.form input::placeholder{
    color:#fff;
}

.container{
    border:2px solid #000;
}
.btn-sm{
    background-color: yellow;
    color:gray;
    padding:6px 10px;
    border-radius: 0;
    font-size:13px;
    font-weight:700;
    border:none;
    transition:0.5s;
}
.btn-sm a{
    color:#2d3436;
}
.btn-sm:hover{
    background:#f5f6fa;
    cursor:pointer;
}
.last-password:hover{
    cursor:pointer;
}
.login-btn{
    border:2px solid #63E6BE;
}
.login-btn a{
    color:#63E6BE;
}
