@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Anton&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lunasima:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave+Display&display=swap');
#sells-tab > a{
    color:#63E6BE;
    font-weight: bold;
}
#sells-tab  >a:hover{
    color:#fff;
}

/* .sells-section .row{
    border:2px solid blue;
} */
.icon{
    height: 75px;
    padding:0 27px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #63E6BE;
    border-radius:50%;
}
.icon i{
    font-size:1.3rem;
    color:#fff;
}

.icon-p i{
    font-size: 1.5rem;
    padding:0 4px;
    /* background-color: blue; */
}

.sells-section h1{
    font-weight:bold;
    font-size:2.1rem;
    color:#000;
    letter-spacing:2px;
    font-family: "Poppins", serif;
}

.sells-section h3{
    font-weight:bold;
    color:#000;
    letter-spacing:1.5px;
    /* background-color: blue;  */
    font-family: "Poppins", serif;
    font-weight: 600;
}


